<section class="fontBricolage">
  <div class="contact-form-wrapper">
    <form>
      <div class="form-content">
        <label for="name">What´s your name?</label>
        <input
          type="text"
          id="name"
          placeholder="Your name goes here"
          required
          autocomplete="off"
        />
        <div class="underline"></div>
      </div>
      <div class="form-content">
        <label for="email">What´s your email?</label>
        <input
          type="email"
          id="email"
          placeholder="youremail@email.com"
          required
          autocomplete="off"
        />
        <div class="underline"></div>
      </div>
      <div class="form-content">
        <label for="message">How can i help you?</label>
        <textarea
          name="message"
          id="message"
          placeholder="Your message"
          required
          rows="1"
        ></textarea>
        <div class="underline"></div>
      </div>
      <div class="privacy-content">
        <div class="checkbox">
          <img src="./icons/checkbox_unchecked.png" alt="checkbox" />
        </div>
        <div class="privacy-text">
          I`ve read the
          <a href="#">privacy policy</a>
          and agree to the processing of my data as outlined.
        </div>
      </div>
      <div class="button-content">
        <img src="./icons/contact_me_arrow.png" alt="logo" />
        <button>Send</button>
      </div>
    </form>
  </div>
</section>
