@use "../../../mixins.scss" as *;

p {
  color: #f8f9fa;
}

section {
}

.contact-form-wrapper {
  /*  > form {
    display: flex;
    flex-direction: column;

    > label {
      font-size: 24px;
      font-weight: 500;
      color: #f8f9fa;
    }

    > input {
      font-size: 18px;
      font-weight: 400;
      border: none;
      background-color: transparent;
      padding: 8px 16px;
    }
  } */
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 4px;

  > form {
    display: flex;
    flex-direction: column;
  }

  > label {
    font-size: 24px;
    font-weight: 500;
    color: #f8f9fa;
    margin-left: 16px;
  }

  > input {
    font-size: 18px;
    font-weight: 400;
    border: none;
    background-color: transparent;
    padding: 8px 16px;
    color: #f8f9fa;
    font-family: "Bricolage Grotesque";
    font-size: 18px;
    font-weight: 400;
  }
}

textarea {
  /* resize: none; */
  background-color: transparent;
  border: none;
  padding: 8px 16px;
  color: #f8f9fa;
  font-family: "Bricolage Grotesque";
  font-size: 18px;
  font-weight: 400;
  scrollbar-width: none;
}

.underline {
  width: 100%;
  height: 2px;
  background-color: #f7c518;
  margin-top: 5px;
  margin-bottom: 16px;
}

.privacy-content {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.checkbox {
}

.privacy-text {
  font-size: 18px;
  font-weight: 400;
  color: #f8f9fa;

  > a {
    color: #f7c518;
    color: #3355ff;
  }
}

.button-content {
  display: flex;
  justify-content: end;
  margin-top: 16px;
}

button {
  @include btnStyle();
  box-shadow: 2px 4px #f8f9fa;
  cursor: pointer;
  font-size: 18px;
  padding: 12px 48px;
  opacity: 0.5;
}
