<section class="fontBricolage">
  <div class="contact-form-wrapper">
    <form>
      <div class="form-content">
        <label for="name">{{ "contactForm.name" | translate }}</label>
        <input
          type="text"
          id="name"
          [placeholder]="'contactForm.namePlaceholder' | translate"
          required
          autocomplete="off"
        />
        <div class="underline"></div>
      </div>
      <div class="form-content">
        <label for="email">{{ "contactForm.email" | translate }}</label>
        <input
          type="email"
          id="email"
          [placeholder]="'contactForm.emailPlaceholder' | translate"
          required
          autocomplete="off"
        />
        <div class="underline"></div>
      </div>
      <div class="form-content">
        <label for="message">{{ "contactForm.message" | translate }}</label>
        <textarea
          name="message"
          id="message"
          [placeholder]="'contactForm.messagePlaceholder' | translate"
          required
          rows="1"
        ></textarea>
        <div class="underline"></div>
      </div>
      <div class="privacy-content">
        <div class="checkbox">
          <img src="./icons/checkbox_unchecked.png" alt="checkbox" />
        </div>
        <div class="privacy-text">
          {{ "contactForm.privacyTextTop" | translate }}
          <a href="#">{{ "contactForm.privacyTextLink" | translate }}</a>
          {{ "contactForm.privacyTextBottom" | translate }}
        </div>
      </div>
      <div class="button-content">
        <img src="./icons/contact_me_arrow.png" alt="logo" />
        <button>{{ "contactForm.submitBtn" | translate }}</button>
      </div>
    </form>
  </div>
</section>
