<section class="fontBricolage">
  <div class="contact-form-wrapper">
    <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
      <div class="form-content">
        <label for="name">{{ "contactForm.name" | translate }}</label>
        <input
          [(ngModel)]="contactData.name"
          name="name"
          type="text"
          id="name"
          [placeholder]="namePlaceholder | translate"
          [class.error]="showMessageError"
          required
          autocomplete="off"
          minlength="4"
          #nameInput="ngModel"
        />
        <div class="underline">
          @if (nameInput.invalid && nameInput.touched &&
          nameInput.errors?.['minlength']) {
          <span class="error-text">{{
            "contactForm.nameMinLength" | translate
          }}</span>
          }
        </div>
      </div>

      <div class="form-content">
        <label for="email">{{ "contactForm.email" | translate }}</label>
        <input
          [(ngModel)]="contactData.email"
          name="email"
          type="email"
          id="email"
          [placeholder]="emailPlaceholder | translate"
          [class.error]="showMessageError"
          required
          pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
          autocomplete="off"
          minlength="4"
          #emailInput="ngModel"
        />
        <div class="underline">
          @if (emailInput.invalid && emailInput.touched &&
          emailInput.errors?.['pattern']) {
          <span class="error-text">{{
            "contactForm.emailInvalid" | translate
          }}</span>
          }
        </div>
      </div>
      <div class="form-content">
        <label for="message">{{ "contactForm.message" | translate }}</label>
        <textarea
          [(ngModel)]="contactData.message"
          name="message"
          type="text"
          id="message"
          [placeholder]="messagePlaceholder | translate"
          [class.error]="showMessageError"
          required
          rows="1"
          minlength="4"
          #messageInput="ngModel"
        ></textarea>
        <div class="underline">
          @if (messageInput.invalid && messageInput.touched &&
          messageInput.errors?.['minlength']) {
          <span class="error-text">{{
            "contactForm.messageMinLength" | translate
          }}</span>
          }
        </div>
      </div>

      <label
        class="custom-checkbox"
        (mouseenter)="isHovered = true"
        (mouseleave)="isHovered = false"
      >
        <input
          type="checkbox"
          [(ngModel)]="contactData.privacy"
          name="privacy"
          required
          hidden
        />
        <img class="checkbox-img" [src]="getCheckboxImage()" alt="checkbox" />
        <div class="privacy-text">
          {{ "contactForm.privacyTextTop" | translate }}
          <a [routerLink]="['/privacyPolicy']">{{ "contactForm.privacyTextLink" | translate }}</a>
          {{ "contactForm.privacyTextBottom" | translate }}
        </div>
      </label>
      @if(!this.contactData.privacy){
      <div class="privacy-error">{{ privacyPlaceholder }}</div>
      }
      <div class="button-content">
        <img src="./icons/contact_me_arrow.png" alt="logo" />
        <button type="submit">
          {{ "contactForm.submitBtn" | translate }}
        </button>
      </div>
    </form>
  </div>
</section>

@if (this.showSuccessOverlay) {
<div class="overlay">
  <div class="overlay-content">
    <p>TESTETSTESTETSTEST</p>
  </div>
</div>
}
