<section>
  <div data-aos="fade-down" class="header-wrapper">
    <div class="navbar-logo">
      <img [routerLink]="'/'" src="./logo/fox_logo.png" alt="logo" />
    </div>
    <div class="navbar-links fontBricolage">
      <a [routerLink]="['/']" fragment="about_me">
        {{ "aboutMe.title" | translate }}
        <img src="./icons/about_me_hover.png" alt="" />
      </a>
      <a [routerLink]="['/']" fragment="skill_set"
        >{{ "skills.title" | translate }}
        <img src="./icons/skills_hover.png" alt="" />
      </a>
      <a [routerLink]="['/']" fragment="my_craft"
        >{{ "projects.title" | translate }}
        <img src="./icons/projects_hover.png" alt="icon" />
      </a>
      <a [routerLink]="['/']" fragment="contact"
        >{{ "contact.title" | translate }}
        <img src="./icons/contact_hover.png" alt="icon" />
      </a>
    </div>
    <div class="navbar-language-changer">
      <button
        (click)="switchLanguage('en')"
        [class.active-language]="isEnglishActive"
      >
        EN
        <img src="./icons/language_hover_frame.png" alt="icon" />
      </button>
      <div class="line">
        <div class="dot" [class.move-right]="!isEnglishActive"></div>
      </div>
      <button
        (click)="switchLanguage('de')"
        [class.active-language]="!isEnglishActive"
      >
        DE
        <img src="./icons/language_hover_frame.png" alt="frame" />
      </button>
    </div>
    <div class="burger-menu-responsive">
      <img
        (click)="toggleBurgerMenu()"
        (mouseenter)="isHovered = true"
        (mouseleave)="isHovered = false"
        [src]="getBurgerMenuImgOpen()"
        alt="icon"
      />
    </div>
  </div>
  <div
    [class.show]="isBurgerMenuOpen"
    class="burger-menu-content fontBricolage"
  >
    <div class="burger-header">
      <img src="./logo/fox_logo.png" alt="logo" />
      <img
        (click)="toggleBurgerMenu()"
        (mouseenter)="isHovered = true"
        (mouseleave)="isHovered = false"
        [src]="getBurgerMenuImgClose()"
        alt="close"
      />
    </div>
    <div class="burger-center">
      <a [routerLink]="['/']" fragment="about_me">
        {{ "aboutMe.title" | translate }}
      </a>
      <a [routerLink]="['/']" fragment="skill_set"
        >{{ "skills.title" | translate }}
      </a>
      <a [routerLink]="['/']" fragment="my_craft"
        >{{ "projects.title" | translate }}
      </a>
      <a [routerLink]="['/']" fragment="contact"
        >{{ "contact.title" | translate }}
      </a>
    </div>
    <div class="navbar-language-changer-burger">
      <button
        (click)="switchLanguage('en')"
        [class.active-language]="isEnglishActive"
      >
        EN
        <img src="./icons/language_hover_frame.png" alt="icon" />
      </button>
      <div class="line">
        <div class="dot" [class.move-right]="!isEnglishActive"></div>
      </div>
      <button
        (click)="switchLanguage('de')"
        [class.active-language]="!isEnglishActive"
      >
        DE
        <img src="./icons/language_hover_frame.png" alt="frame" />
      </button>
    </div>
    <div class="burger-footer">
      <a
        href="https://github.com/DavidLehnartz"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="./icons/git_hub.png" alt="icon" />
      </a>
      <a
        href="https://www.linkedin.com/in/david-lehnartz-3307602b4/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="./icons/linked_in.png" alt="icon" />
      </a>
      <a
        href="mailto:info@devwithdavid.com"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="./icons/mail.png" alt="icon" />
      </a>
    </div>
  </div>
</section>
