@use "./../../../mixins.scss" as *;

section {
  position: absolute;
  top: 0px;
  width: 100%;
}

.header-wrapper {
  @include dFlex($jContent: space-between);
  padding: 16px 72px;
  height: 80px;
  margin: 0px auto;
  max-width: 1440px;
}

.navbar-logo {
  > img {
    width: 64px;
    height: 64px;
  }
}

.navbar-links {
  @include dFlex($jContent: space-evenly);
  width: 100%;
  font-size: 18px;

  > a {
    position: relative;
    color: #f8f9fa;

    > img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
    }

    &:hover img {
      display: block;
    }
  }
}

.navbar-language-changer {
  @include dFlex($gap: 4px);

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #f8f9fa;
    cursor: pointer;
    transition: color 0.5s;

    > img {
      position: absolute;
      display: none;
    }

    &:hover > img {
      display: block;
    }

    &.active-language {
      color: #00d1ff; // z.B. ein Cyan-Ton für aktive Sprache

      > img {
        display: block;
      }
    }
  }
}

button:active {
  color: #f87a55;

  &:hover img {
    display: none;
  }
}

.line {
  position: relative;
  width: 32px;
  height: 8px;
  border: solid;
  border-color: #f8f9fa;
  background-color: #f87a55;
  border-radius: 8px;
}

.dot {
  position: absolute;
  top: 50%;
  left: -5px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-color: #35f;
  border: solid;
  border-color: #f8f9fa;
  border-radius: 50%;
  transition: left 0.4s ease;
}

.dot.move-right {
  left: calc(100% - 15px);
}

.active {
  color: #35f;
}

.active-language {
  color: #f87a55;
}

/* MEDIA QUERY */

@media (max-width: 960px) {
  .header-wrapper {
    padding: 16px 32px;
  }

  .navbar-links {
    display: none;
  }

  .navbar-language-changer {
    display: none;
  }

  .burger-menu-responsive {
    display: block;
  }
}

@media (min-width: 960px) {
  .burger-menu-responsive {
    display: none;
  }
}
