@use "./../../../mixins.scss" as *;

section {
  position: absolute;
  top: 0px;
  width: 100%;
}

.header-wrapper {
  @include dFlex($jContent: space-between);
  padding: 16px 72px;
  height: 80px;
  margin: 0px auto;
  max-width: 1440px;
}

.navbar-logo {
  > img {
    width: 64px;
    height: 64px;
    cursor: pointer;
  }
}

.navbar-links {
  @include dFlex($jContent: space-evenly);
  width: 100%;
  font-size: 18px;

  > a {
    position: relative;
    color: #f8f9fa;

    > img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
      width: 105px;
      height: 40px;
    }

    &:hover img {
      display: block;
      animation: revealCycle 2s ease-in-out infinite;
    }
  }
}

.reveal-loop {
  height: auto;
  animation: revealCycle 3s ease-in-out infinite;
  object-fit: cover;
}

.navbar-language-changer {
  @include dFlex($gap: 4px);

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #f8f9fa;
    cursor: pointer;
    transition: color 0.5s;
    padding: 8px;

    &:hover {
      color: #1976ea;
    }
    > img {
      position: absolute;
      display: none;
      width: 32px;
      height: 32px;
    }

    &:hover > img {
      display: block;
      animation: revealCycle 2s ease-in-out infinite;
    }

    &.active-language {
      color: #1976ea;

      > img {
        display: block;
      }
    }
  }
}

.line {
  position: relative;
  width: 32px;
  height: 8px;
  border: solid;
  border-color: #f8f9fa;
  background-color: #ea9019;
  border-radius: 8px;
}

.dot {
  position: absolute;
  top: 50%;
  left: -5px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-color: #1976ea;
  border: solid;
  border-color: #f8f9fa;
  border-radius: 50%;
  transition: left 0.4s ease;
}

.dot.move-right {
  left: calc(100% - 15px);
}

.active {
  color: #35f;
}

.active-language {
  color: #1976ea;
}

.burger-menu-responsive {
  cursor: pointer;
}

.burger-menu-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  max-width: 365px;
  height: 560px;
  z-index: 999;
  background-image: url("../../../../../public/images/atf_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.3s ease;
}

.burger-header {
  @include dFlex($jContent: space-between);
  width: 100%;
  margin-top: 16px;

  > img:nth-child(1) {
    width: 48px;
    height: 48px;
    margin-left: 16px;
  }

  > img:nth-child(2) {
    width: 32px;
    height: 32px;
    margin-right: 16px;

    &:hover {
      cursor: pointer;
    }
  }
}

.burger-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  > a {
    color: #f8f9fa;
    font-size: 18px;
    font-weight: 700;

    &:hover {
      color: #ea9019;
    }
  }
}

.burger-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
  padding-bottom: 65px;

  > a {
    display: flex;
    max-width: 50px;

    > img {
      cursor: pointer;
      width: 32px;
      height: 32px;
      border-radius: 100px;
      padding: 4px;
      transition: all 0.3s ease-in-out;
      box-shadow: 2px 1px #f8f9fa;
    }
  }

  img:nth-child(1) {
    &:hover {
      background-color: #1976ea;
      transition: all 0.3s ease-in-out;
      transform: scale(1.05);
      box-shadow: none;
    }
  }

  img:nth-child(2) {
    &:hover {
      background-color: #1976ea;
      transition: all 0.3s ease-in-out;
      transform: scale(1.05);
      box-shadow: none;
    }
  }

  img:nth-child(3) {
    &:hover {
      background-color: #1976ea;
      transition: all 0.3s ease-in-out;
      transform: scale(1.05);
      box-shadow: none;
    }
  }
}

.navbar-language-changer-burger {
  @include dFlex($gap: 4px);

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #f8f9fa;
    cursor: pointer;
    transition: color 0.5s;
    padding: 8px;

    &:hover {
      color: #1976ea;
    }
    > img {
      position: absolute;
      display: none;
      width: 32px;
      height: 32px;
    }

    &:hover > img {
      display: block;
      animation: revealCycle 2s ease-in-out infinite;
    }

    &.active-language {
      color: #1976ea;

      > img {
        display: block;
      }
    }
  }
}

.burger-menu-content.show {
  transform: translateY(0);
  opacity: 1;
}

.sticky-header {
  position: sticky;
}

/* MEDIA QUERY */

@media (max-width: 960px) {
  .header-wrapper {
    padding: 16px 32px;
  }

  .navbar-links {
    display: none;
  }

  .navbar-language-changer {
    display: none;
  }

  .burger-menu-responsive {
    display: block;
  }
}

@media (max-width: 425px) {
  .burger-menu-content {
    max-width: 100%;
  }
}

@media (min-width: 960px) {
  .burger-menu-responsive {
    display: none;
  }
}
