<section>
  <div class="header-wrapper">
    <div class="navbar-logo">
      <img src="./logo/fox_logo.png" alt="logo" />
    </div>
    <div class="navbar-links fontBricolage">
      <a href=""
        >About me
        <img src="./icons/about_me_hover.png" alt="" />
      </a>
      <a href=""
        >Skills
        <img src="./icons/skills_hover.png" alt="" />
      </a>
      <a href=""
        >Projects
        <img src="./icons/projects_hover.png" alt="icon" />
      </a>
      <a href=""
        >Contact
        <img src="./icons/contact_hover.png" alt="icon" />
      </a>
    </div>
    <div class="navbar-language-changer">
      <button
        (click)="setLanguage('en')"
        [class.active-language]="isEnglishActive"
      >
        EN
        <img src="./icons/language_hover_frame.png" alt="icon" />
      </button>
      <div class="line">
        <div
          class="dot"
          [class.move-right]="!isEnglishActive"
        ></div>
      </div>
      <button
        (click)="setLanguage('de')"
        [class.active-language]="!isEnglishActive"
      >
        DE
        <img src="./icons/language_hover_frame.png" alt="frame" />
      </button>
    </div>
    <div class="burger-menu-responsive">
      <img src="./icons/burger_default.png" alt="icon" />
    </div>
  </div>
</section>
