<section>
  <div class="header-wrapper">
    <div class="navbar-logo">
      <img src="./logo/fox_logo.png" alt="logo" />
    </div>
    <div class="navbar-links fontBricolage">
      <a href=""
        >About me
        <img src="./icons/about_me_hover.png" alt="" />
      </a>
      <a href=""
        >Skills
        <img src="./icons/skills_hover.png" alt="" />
      </a>
      <a href=""
        >Projects
        <img src="./icons/projects_hover.png" alt="" />
      </a>
      <a href=""
        >Contact
        <img src="./icons/contact_hover.png" alt="" />
      </a>
    </div>
    <div class="navbar-language-changer">
      <img src="./icons/en_language_button_orange.png" alt="" />
      <img src="./icons/language_toggle_left.png" alt="" />
      <img src="./icons/de_language_button_white.png" alt="" />
    </div>
  </div>
</section>
