section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("./../../../public/images/atf_bg.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.not-found-wrapper {
  text-align: center;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  color: #f7c518;
}

p {
  font-size: 24px;
  font-weight: 400;
  color: aliceblue;
}
