<section class="fontBricolage">
  <div class="hero-top-wrapper">
    <div class="hero-top-content">
      <div class="hero-top-btn">
        <button class="fontBricolage">Hello World</button>
      </div>
      <div class="hero-text">
        <h1>
          <p>F</p>
          <p>r</p>
          <p>o</p>
          <p>n</p>
          <p>t</p>
          <p>e</p>
          <p>n</p>
          <p>d</p>
        </h1>
      </div>
    </div>
    <div class="hero-profile">
      <img src="./images/empty_frame.png" alt="" />
    </div>
  </div>
  <div class="hero-lower-wrapper">
    <div class="hero-lower-content">
      <div class="hero-text">
        <h1>
          <p>D</p>
          <p>E</p>
          <p>V</p>
          <p>E</p>
          <p>L</p>
          <p>O</p>
          <p>P</p>
          <p>E</p>
          <p>R</p>
        </h1>
      </div>
      <div class="hero-lower-btn">
        <button class="fontBricolage">Get in touch</button>
      </div>
    </div>
  </div>
  <div class="hero-social-media-wrapper">
      <img src="./icons/git_hub.png" alt="" />
      <img src="./icons/linked_in.png" alt="" />
      <img src="./icons/mail.png" alt="" />
  </div>
</section>
