<section class="fontBricolage">
  <div class="hero-wrapper">
    <div class="top-content">
      <div class="top-left-content">
        <div class="hero-top-btn">
          <img src="./icons/waving_hand.png" alt="icon" />
          <button class="fontBricolage">
            <p>Hello World</p>
            <span class="hidden">I`m David Lehnartz</span>
          </button>
        </div>
        <div class="hero-text">
          <span class="uppercase">F</span>
          <span class="lowercase">r</span>
          <span class="lowercase">o</span>
          <span class="lowercase">n</span>
          <span class="lowercase">t</span>
          <span class="lowercase">e</span>
          <span class="lowercase">n</span>
          <span class="lowercase">d</span>
        </div>
      </div>
      <div class="top-right-content">
        <div class="hero-profile">
          <img class="polaroid" src="./images/empty_frame.png" alt="polaroid" />
          <img class="portrait" src="./images/profile.jpg" alt="portrait" />
          <div class="profile-name fontKalam">
            David :
            <p>)</p>
            <span class="hidden">D</span>
          </div>
        </div>
      </div>
    </div>
    <div class="lower-content">
      <div class="hero-text">
        <span class="uppercase">D</span>
        <span class="uppercase">E</span>
        <span class="uppercase">V</span>
        <span class="uppercase">E</span>
        <span class="uppercase">L</span>
        <span class="uppercase">O</span>
        <span class="uppercase">P</span>
        <span class="uppercase">E</span>
        <span class="uppercase">R</span>
      </div>
      <div class="hero-lower-btn">
        <button  [routerLink]="['/']" fragment="contact" class="fontBricolage">Get in touch</button>
      </div>
    </div>
  </div>
  <div class="hero-social-media-wrapper">
    <img src="./icons/git_hub.png" alt="icon" />
    <img src="./icons/linked_in.png" alt="icon" />
    <img src="./icons/mail.png" alt="icon" />
  </div>
  <div class="hero-profile-responsive hidden">
    <img class="polaroid-responsive" src="./images/empty_frame.png" alt="polaroid" />
    <img class="portrait-responsive" src="./images/profile.jpg" alt="portrait" />
    <div class="profile-name fontKalam">
      David :
      <p>)</p>
      <span class="hidden">D</span>
    </div>
  </div>
</section>
