<section class="fontBricolage">
  <div class="my-craft-top-wrapper">
    <div class="my-craft-headline">
      <div>
        <p>MY CRAFT</p>
      </div>
      <div>
        <h1>Projects</h1>
        <img src="./icons/underline_yellow.png" alt="line" />
      </div>
      <div>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil amet
          asperiores animi sunt culpa dignissimos odio? Aliquam expedita,
          suscipit eum libero dolores ut provident sit. Asperiores dolore
          officia earum aliquam.
        </p>
      </div>
    </div>
    <div class="my-craft-first-project">
      <img
        [routerLink]="'/join'"
        src="./images/my_craft_laptop.png"
        alt="laptop"
      />
      <div class="my-craft-featured-sticker">
        <img src="./icons/featured_project_sticker.png" alt="sticker" />
      </div>
      <div class="my-craft-project-name-description">
        <h2>JOIN</h2>
        <div class="my-craft-project-description">
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae ad
            nam pariatur harum quam facere magnam asperiores autem inventore
            doloribus nesciunt libero tenetur error aspernatur unde maiores,
            quia necessitatibus provident!
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="my-craft-all-projects-wrapper">
    <div class="project-content">
      <img [routerLink]="'/willyTheWizard'" src="./images/el_pollo_loco_ thumbnail.png" alt="willy the wizard" />
      <div class="project-name-description">
        <h2>WILLY THE WIZARD</h2>
        <div class="project-description">
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae ad
            nam pariatur harum quam facere magnam asperiores autem inventore
            doloribus nesciunt libero tenetur error aspernatur unde maiores,
            quia necessitatibus provident!
          </p>
        </div>
      </div>
    </div>
    <div class="project-content">
      <img [routerLink]="'/daBubble'" src="./images/da_bubble_thumbnail.png" alt="da bubble" />
      <div class="project-name-description">
        <h2>DABubble</h2>
        <div class="project-description">
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae ad
            nam pariatur harum quam facere magnam asperiores autem inventore
            doloribus nesciunt libero tenetur error aspernatur unde maiores,
            quia necessitatibus provident!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
