<section id="my_craft" class="fontBricolage">
  <div class="my-craft-wrapper">
    <div data-aos="fade-right" class="my-craft-top-left-wrapper">
      <div class="headline">
        <p>{{ "myWork.text" | translate }}</p>
        <h1>{{ "myWork.title" | translate }}</h1>
        <img
          class="reveal-loop"
          src="/images/underline_yellow.png"
          alt="line"
        />
      </div>
      <div class="headline-text">
        <p>
          {{ "myWork.description" | translate }}
        </p>
      </div>
    </div>
    <div class="my-craft-top-right-wrapper">
      <div [routerLink]="'/join'" class="project-image laptop">
        <img
          data-aos="zoom-in-up"
          class="project-img"
          src="./images/my_craft_laptop.png"
          alt="thumbnail"
        />
        <img
          class="featured-sticker"
          src="/images/featured_project_sticker.png"
          alt="sticker"
        />
        <button>{{ "myWork.detailBtn" | translate }}</button>
      </div>
      <div data-aos="fade-left" class="project-name">
        <h2>JOIN</h2>
        <div class="project-description">
          <p>
            {{ "myWork.projectDescription1" | translate }}
          </p>
        </div>
      </div>
      <div class="project-link-responsive">
        <a [routerLink]="'/join'">{{ "myWork.detailBtn" | translate }}</a>
      </div>
    </div>
  </div>
  <div class="my-craft-all-projects-wrapper">
    <div class="all-project-content">
      <div [routerLink]="'/willyTheWizard'" class="project-image">
        <img
          data-aos="zoom-in-up"
          class="project-img"
          src="./images/thumbnail_willy.png"
          alt="thumbnail"
        />
        <button>{{ "myWork.detailBtn" | translate }}</button>
      </div>
      <div data-aos="fade-right" class="project-name">
        <h2>Willy The Wizard</h2>
        <div class="project-description">
          <p>
            {{ "myWork.projectDescription2" | translate }}
          </p>
        </div>
      </div>
      <div class="project-link-responsive">
        <a [routerLink]="'/willyTheWizard'">{{
          "myWork.detailBtn" | translate
        }}</a>
      </div>
    </div>
    <div class="all-project-content">
      <div [routerLink]="'/daBubble'" class="project-image">
        <img
          data-aos="zoom-in-up"
          class="project-img"
          src="./images/thumbnail_bubble.png"
          alt="thumbnail"
        />
        <button>{{ "myWork.detailBtn" | translate }}</button>
      </div>
      <div data-aos="fade-left" class="project-name">
        <h2>DA Bubble</h2>
        <div class="project-description">
          <p>
            {{ "myWork.projectDescription3" | translate }}
          </p>
        </div>
      </div>
      <div class="project-link-responsive">
        <a [routerLink]="'/daBubble'">{{ "myWork.detailBtn" | translate }}</a>
      </div>
    </div>
  </div>
</section>
