@use "./../../mixins.scss" as *;

section {
  width: 100%;
}

.my-craft-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 140px;
  padding-bottom: 88px;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1920px;
  margin: 0px auto;
  gap: 48px;
}

.my-craft-top-left-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 560px;
  width: 100%;
  gap: 32px;
}

.my-craft-headline-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 48px;
}

.headline {
  > p {
    font-size: 20px;
    font-weight: 500;
  }

  > h1 {
    font-size: 64px;
    font-weight: 700;
  }
}

.headline-text {
  > p {
    font-size: 18px;
    font-weight: 400;
  }
}

.reveal-loop {
  height: auto;
  animation: revealCycle 3s ease-in-out infinite;
  object-fit: cover;
}

.my-craft-top-right-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 560px;
  width: 100%;
  gap: 32px;
}

.btn-responsive {
  display: block;
  button {
    font-size: 18px;
    font-weight: 700;
    box-shadow: 2px 4px #f8f9fa;
  }
}

.first-project-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 560px;
}

.project-image {
  position: relative;
  width: fit-content;
  border-radius: 20px;
  animation: upAndDown 2s ease-in-out infinite;
  transition: transform 0.5s ease-in-out;

  > img {
    display: block;
    max-width: 100%;
  }

  &:hover {
    cursor: pointer;
    background: linear-gradient(to top, #0009, #0000 50%);
    transform: scale(1.1);
    animation: none;
  }

  &:hover button {
    opacity: 1;
    pointer-events: auto;
  }
}

.project-image .laptop {
  position: relative;
  display: block;
  max-width: 100%;
  height: auto;
}

.featured-sticker {
  position: absolute;
  top: 200px;
  left: 0px;
  width: 168px;
  z-index: 10;
}

.project-img {
  width: 100%;
  height: auto;
}

.project-name {
  display: flex;
  flex-direction: column;

  > h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
  }
}

.project-description {
  > p {
    font-size: 18px;
    font-weight: 400;
  }
}

.my-craft-all-projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1920px;
  margin: 0px auto;
  padding: 0px 16px;
}

.all-project-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 560px;
}

.project-image {
  position: relative;
  border-radius: 20px;
  transition: transform 0.5s ease-in-out;
  animation: upAndDown 2s ease-in-out infinite;

  &:hover {
    cursor: pointer;
    background: linear-gradient(to top, #0009, #0000 50%);
    transform: scale(1.1);

    animation: none;
  }

  &:hover button {
    opacity: 1;
    pointer-events: auto;
  }
}

button {
  @include btnStyle();
  position: absolute;
  bottom: 30px;
  right: 30px;
  height: 56px;
  font-size: 18px;
  font-weight: 700;
  box-shadow: 2px 4px #f8f9fa;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;

  &:hover {
    bottom: 30px;
    right: 30px;
    background-color: #3355ff;
    box-shadow: 0px 0px #f8f9fa;
    opacity: 1;
    display: block;
  }
}

.project-link-responsive {
  display: flex;
  justify-content: end;

  > a {
    font-size: 18px;
    font-weight: 700;
    padding: 12px 24px;
    border-radius: 100px;
    box-shadow: 2px 4px black;
    color: black;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #3355ff;
      box-shadow: 0px 0px #f8f9fa;
      color: #f8f9fa;
      transform: scale(1);
    }
  }
}

/* MEDIA QUERY  */

@media (max-width: 1120px) {
  .my-craft-wrapper {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0px;
  }

  .my-craft-headline-content {
    padding: 0px 32px;
  }

  .my-craft-all-projects-wrapper {
    gap: 32px;
  }
}

@media (max-width: 600px) {
  .project-image {
    display: flex;
    justify-content: center;
    width: 100% !important;
    height: auto;
    animation: none;
  }

  .featured-sticker {
    top: 215px;
    left: 45px;
    width: 120px;

    height: 100px;
  }

  button {
    display: none;
    opacity: 1;
    border-color: black;
    box-shadow: 2px 4px black;
    color: black;
    bottom: -20px;
    right: 5px;
  }

  .my-craft-top-right-wrapper {
    margin-bottom: 32px;
  }
}

@media (max-width: 470px) {
  .featured-sticker {
    top: 155px;
    left: 5px;
    width: 120px;
  }
}

@media (max-width: 435px) {
  .featured-sticker {
    top: 155px;
    left: 15px;
    width: 100px;
  }
}

@media (max-width: 330px) {
  .featured-sticker {
    top: 100px;
    left: -5px;
    width: 90px;
  }
}

@media (min-width: 600px) {
  .project-link-responsive {
    display: none;
  }
}
