<section class="fontBricolage">
  <div class="contact-me-wrapper">
    <div class="content-logo-responsive">
      <img src="./icons/contact_me_sticker.png" alt="logo" />
      <div class="inner-logo-responsive">
        <img src="./logo/fox_logo.png" alt="logo" />
      </div>
    </div>
    <div class="contact-me-left-content">
      <div class="headline">
        <span>{{ "contactForm.text" | translate }}</span>
        <h2>{{ "contactForm.title" | translate }}</h2>
      </div>
      <div class="description">
        <p>
          {{ "contactForm.description" | translate }}
        </p>
      </div>
      <div class="contact-me-arrow">
        <img src="./icons/contact_me_arrow.png" alt="arrow" />
      </div>
    </div>
    <div class="contact-me-right-content">
      <div class="content-logo">
        <img src="./icons/contact_me_sticker.png" alt="logo" />
        <div class="inner-logo">
          <img src="./logo/fox_logo.png" alt="logo" />
        </div>
      </div>
      <div>
        <app-contact-form></app-contact-form>
      </div>
    </div>
  </div>
  <div>
    <app-footer></app-footer>
  </div>
</section>
