section {
  width: 100%;

  background-image: url("./../../../../public/images/contact_me_bg.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-me-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 100px;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 144px;
  padding-left: 120px;
  padding-right: 120px;
}

.contact-me-left-content {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 50%;
}

.headline {
  display: flex;
  flex-direction: column;
  gap: 16px;

  > h2 {
    font-size: 48px;
    font-weight: 700;
    color: #f8f9fa;
  }

  > span {
    font-size: 20px;
    font-weight: 500;
    color: #f8f9fa;
  }
}

.description {
  > p {
    font-size: 18px;
    font-weight: 400;
    color: #f8f9fa;
  }
}

.contact-me-arrow {
  display: flex;
  justify-content: end;
}

.contact-me-right-content {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 50%;
}

.content-logo {
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
}

.inner-logo {
  position: absolute;
  right: 40px;
  /* transform: translate(50% 50%); */

  > img {
    width: 96px;
    height: 96px;
  }
}

.content-logo-responsive {
  justify-content: end;
  display: flex;
  margin-bottom: -35px;
}

.inner-logo-responsive {
  position: absolute;
  right: 40px;

  > img {
    width: 96px;
    height: 96px;
  }
}

/* MEDIA QUERY */

@media (max-width: 800px) {
  /*  section {
    height: 100%;
  } */

  .contact-me-wrapper {
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
    gap: 40px;
  }

  .contact-me-left-content {
    width: 100%;
  }

  .contact-me-right-content {
    width: 100%;
  }

  .contact-me-arrow {
    > img {
      display: none;
    }
  }

  .content-logo {
    display: none;
  }
}

@media (min-width: 800px) {
  .content-logo-responsive {
    display: none;
  }
}
