section {
  width: 100%;

  background-image: url("./../../../../public/images/contact_me_bg.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-me-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 100px;
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 200px;
  padding-left: 120px;
  padding-right: 120px;
}

.contact-me-left-content {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 50%;
}

.headline {
  display: flex;
  flex-direction: column;
  gap: 16px;

  > h2 {
    font-size: 48px;
    font-weight: 700;
    color: #f8f9fa;
  }

  > span {
    font-size: 20px;
    font-weight: 500;
    color: #f8f9fa;
  }
}

.reveal-loop {
  height: auto;
  animation: revealCycle 3s ease-in-out infinite;
  object-fit: cover;
}

.description {
  > p {
    font-size: 18px;
    font-weight: 400;
    color: #f8f9fa;
  }
}

.contact-me-arrow {
  display: flex;
  justify-content: end;
}

.contact-me-right-content {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 50%;
}

.content-logo {
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;

  > img {
    width: 168px;
    height: 168px;
  }
}

.inner-logo {
  position: absolute;
  right: 40px;

  > img {
    width: 96px;
    height: 96px;
  }
}

.circle-text {
  position: absolute;
  top: 0;
  right: 0;
  width: 168px;
  height: 168px;
  z-index: 2;
  pointer-events: none;
}

.circle-text-responsive {
  position: absolute;
  top: 0;
  right: 0;
  width: 96px;
  height: 96px;
  z-index: 2;
  pointer-events: none;
}

.content-logo-responsive {
  justify-content: end;
  display: flex;
  position: relative;
  margin-bottom: -35px;

  > img {
    width: 96px;
    height: 96px;
  }
}

.inner-logo-responsive {
  position: absolute;
  right: 40px;

  > img {
    position: absolute;
    top: 15px;
    right: -20px;
    width: 64px;
    height: 64px;
  }
}

/* MEDIA QUERY */

@media (max-width: 850px) {
  .contact-me-wrapper {
    flex-direction: column;
    padding-left: 32px;
    padding-right: 32px;
    gap: 40px;
  }

  .contact-me-left-content {
    width: 100%;
  }

  .contact-me-right-content {
    width: 100%;
  }

  .contact-me-arrow {
    > img {
      display: none;
    }
  }

  .content-logo {
    display: none;
  }

  .headline {
    margin-bottom: 32px;
  }
}

@media (min-width: 800px) {
  .content-logo-responsive {
    display: none;
  }
}
