<section id="contact" class="fontBricolage">
  <div class="contact-me-wrapper">
    <div class="content-logo-responsive">
      <img src="./icons/contact_me_sticker.png" alt="logo" />
      <div class="inner-logo-responsive">
        <img src="./logo/fox_logo.png" alt="logo" />
      </div>
    </div>
    <div class="contact-me-left-content">
      <div class="headline">
        <span>CONTACT ME</span>
        <h2>Ready to work together?</h2>
      </div>
      <div class="description">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
          blanditiis culpa. Placeat minima, incidunt sed animi culpa alias
          magnam dicta quam atque cupiditate delectus officiis itaque illum, nam
          natus adipisci. Lorem, ipsum dolor sit amet consectetur adipisicing
          elit. Nulla provident reiciendis dolore, dolor impedit, accusantium ex
          nostrum, officia facilis accusamus enim nisi. Numquam adipisci amet
          praesentium, exercitationem at quisquam iure.
        </p>
      </div>
      <div class="contact-me-arrow">
        <img src="./icons/contact_me_arrow.png" alt="arrow" />
      </div>
    </div>
    <div class="contact-me-right-content">
      <div class="content-logo">
        <img src="./icons/contact_me_sticker.png" alt="logo" />
        <div class="inner-logo">
          <img src="./logo/fox_logo.png" alt="logo" />
        </div>
      </div>
      <div>
        <app-contact-form></app-contact-form>
      </div>
    </div>
  </div>
  <div>
    <app-footer></app-footer>
  </div>
</section>
