<section class="fontBricolage">
  <div class="contact-me-wrapper">
    <div class="content-logo-responsive">
      <svg viewBox="0 0 200 200" class="circle-text-responsive">
        <defs>
          <path
            id="circlePath"
            d="M 100, 100 m -84, 0 a 84,84 0 1,1 168,0 a 84,84 0 1,1 -168,0"
          />
        </defs>
        <text
          font-size="10"
          fill="#f8f9fa"
          font-family="Bricolage Grotesque, sans-serif"
          letter-spacing="2"
        >
          <textPath href="#circlePath" startOffset="50%" text-anchor="middle">
            {{ "contactForm.stickerText" | translate }}
          </textPath>
        </text>
      </svg>

      <img src="./icons/contact_me_sticker_blue.png" alt="logo" />
      <div class="inner-logo-responsive">
        <img src="./logo/fox_logo.png" alt="logo" />
      </div>
    </div>
    <div data-aos="fade-right" class="contact-me-left-content">
      <div class="headline">
        <span>{{ "contactForm.text" | translate }}</span>
        <h2>{{ "contactForm.title" | translate }}</h2>
      </div>
      <div class="description">
        <p>
          {{ "contactForm.description" | translate }}
        </p>
      </div>
      <div class="contact-me-arrow">
        <img src="./icons/contact_me_arrow.png" alt="arrow" />
      </div>
    </div>
    <div data-aos="fade-left" class="contact-me-right-content">
      <div class="content-logo">
        <svg viewBox="0 0 200 200" class="circle-text">
          <defs>
            <path
              id="circlePath"
              d="M 100, 100 m -84, 0 a 84,84 0 1,1 168,0 a 84,84 0 1,1 -168,0"
            />
          </defs>
          <text
            font-size="10"
            fill="#f8f9fa"
            font-family="Bricolage Grotesque, sans-serif"
            letter-spacing="2"
          >
            <textPath href="#circlePath" startOffset="50%" text-anchor="middle">
              {{ "contactForm.stickerText" | translate }}
            </textPath>
          </text>
        </svg>
        <img src="./icons/contact_me_sticker_blue.png" alt="logo" />
        <div class="inner-logo">
          <img src="./logo/fox_logo.png" alt="logo" />
        </div>
      </div>
      <div>
        <app-contact-form></app-contact-form>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>
