@use "./../../mixins.scss" as *;

section {
  position: absolute;
  top: 0px;
  width: 100%;
}

.header-wrapper {
  @include dFlex($jContent: space-between);
  padding: 16px 72px;
  height: 80px;
  margin: 0px auto;
  max-width: 1920px;
}

.navbar-logo {
  > img {
    width: 64px;
    height: 64px;
  }
}

.navbar-links {
  @include dFlex($jContent: space-evenly);
  width: 100%;
  font-size: 18px;
  font-weight: 500;

  > a {
    position: relative;
    color: #f8f9fa;

    > img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
    }

    &:hover img {
      display: block;
    }
  }
}

.blackText {
  color: #000000 !important;
  font-size: 18px;
  font-weight: 700;
}

.navbar-language-changer {
  @include dFlex($gap: 4px);

  > img:nth-child(1) {
    width: 32px;
    height: 32px;

    &:hover {
      cursor: pointer;
    }
  }

  > img:nth-child(2) {
    width: 32px;
    height: 16px;
  }

  > img:nth-child(3) {
    width: 32px;
    height: 32px;

    &:hover {
      cursor: pointer;
    }
  }

  button {
    background-color: transparent;
    border: none;
  }
}

/* MEDIA QUERY */

@media (max-width: 1400px) {
  .header-wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }

  .navbar-links {
    > a {
      color: #000000;
    }
  }
}

@media (max-width: 620px) {
  .navbar-links {
    display: none;
  }

  .navbar-language-changer {
    display: none;
  }
}

@media (min-width: 620px) {
  .burger-menu-responsive {
    display: none;
  }
}
