@use "./../../mixins.scss" as *;

section {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 999;
}

.header-wrapper {
  @include dFlex($jContent: space-between);
  padding: 16px 72px;
  height: 80px;
  margin: 0px auto;
  max-width: 1920px;
}

.navbar-logo {
  > img {
    width: 64px;
    height: 64px;

    &:hover {
      cursor: pointer;
    }
  }
}

.navbar-links {
  @include dFlex($jContent: space-evenly);
  width: 100%;
  font-size: 18px;
  font-weight: 500;

  > a {
    position: relative;
    color: #f8f9fa;

    > img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
    }

    &:hover img {
      display: block;
    }
  }
}

.blackText {
  color: #000000 !important;
  font-size: 18px;
  font-weight: 700;
}

.navbar-language-changer {
  @include dFlex($gap: 4px);

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #f8f9fa;
    cursor: pointer;
    transition: color 0.5s;

    > img {
      position: absolute;
      display: none;
    }

    &:hover > img {
      display: block;
    }

    &.active-language {
      color: #1976ea; // z.B. ein Cyan-Ton für aktive Sprache

      > img {
        display: block;
      }
    }
  }
}

button:active {
  color: #f87a55;

  &:hover img {
    display: none;
  }
}

.line {
  position: relative;
  width: 32px;
  height: 8px;
  border: solid;
  border-color: #f8f9fa;
  background-color: #f87a55;
  border-radius: 8px;
}

.dot {
  position: absolute;
  top: 50%;
  left: -5px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-color: #35f;
  border: solid;
  border-color: #f8f9fa;
  border-radius: 50%;
  transition: left 0.4s ease;
}

.dot.move-right {
  left: calc(100% - 15px);
}

.active {
  color: #35f;
}

.active-language {
  color: #f87a55;
}

.burger-menu-responsive {
  cursor: pointer;
}

.burger-menu-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  max-width: 365px;
  height: 560px;
  z-index: 999;
  background-image: url("../../../../public/images/atf_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  transform: translateY(-100%); /* Start außerhalb vom Viewport */
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.3s ease;
}

.burger-header {
  @include dFlex($jContent: space-between);
  /* padding: 16px; */
  width: 100%;
  margin-top: 16px;

  > img:nth-child(1) {
    width: 48px;
    height: 48px;
    margin-left: 16px;
  }

  > img:nth-child(2) {
    width: 32px;
    height: 32px;
    margin-right: 16px;

    &:hover {
      cursor: pointer;
    }
  }
}

.burger-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  > a {
    color: #f8f9fa;
    font-size: 18px;
    font-weight: 700;

    &:hover {
      color: #ea9019;
    }
  }
}

.burger-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
  padding-bottom: 65px;

  > img {
    cursor: pointer;
    width: 32px;
    height: 32px;
    border: 1px solid #f8f9fa;
    border-radius: 100px;
    padding: 4px;
  }
}

.navbar-language-changer-burger {
  @include dFlex($gap: 4px);

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #f8f9fa;
    cursor: pointer;
    transition: color 0.5s;
    padding: 8px;

    &:hover {
      color: #1976ea;
    }
    > img {
      position: absolute;
      display: none;
      width: 32px;
      height: 32px;
    }

    &:hover > img {
      display: block;
    }

    &.active-language {
      color: #1976ea; // z.B. ein Cyan-Ton für aktive Sprache

      > img {
        display: block;
      }
    }
  }
}

.burger-menu-content.show {
  transform: translateY(0);
  opacity: 1;
}

/* MEDIA QUERY */

@media (max-width: 1400px) {
  .header-wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }

  .navbar-links {
    > a {
      color: #000000;
    }
  }
}

@media (max-width: 620px) {
  .navbar-links {
    display: none;
  }

  .navbar-language-changer {
    display: none;
  }
}

@media (max-width: 425px) {
  .burger-menu-content {
    max-width: 100%;
  }
}

@media (min-width: 620px) {
  .burger-menu-responsive {
    display: none;
  }
}
