<section class="fontBricolage">
  <div class="top-shadow"></div>
  <app-projects-header></app-projects-header>
  <div data-aos="fade-right" class="go-back">
    <div>
      <img src="./icons/back_arrow_orange.png" alt="arrow" />
    </div>
    <div [routerLink]="['/']" fragment="my_craft" class="go-back-text">
      {{ "projectDABubble.goBack" | translate }}
    </div>
  </div>
  <div class="project-wrapper">
    <div data-aos="fade-right" class="project-left-content">
      <div class="name">
        <h1>DA Bubble</h1>
        <img class="reveal-loop" src="./icons/blue_stripe.png" alt="stripe" />
      </div>
      <div class="description">
        <h2>{{ "projectDABubble.description" | translate }}</h2>
        <p>
          {{ "projectDABubble.descriptionText" | translate }}
        </p>
      </div>
      <div class="details">
        <h2>{{ "projectDABubble.details" | translate }}</h2>
        <p>
          {{ "projectDABubble.detailsText" | translate }}
        </p>
      </div>
      <div class="duration">
        <h2>{{ "projectDABubble.duration" | translate }}</h2>
        <p>{{ "projectDABubble.durationText" | translate }}</p>
      </div>
      <div class="skills-list">
        <div class="skill">
          <img src="./icons/html_icon.png" alt="icon" />
          <p>HTML</p>
        </div>
        <div class="skill">
          <img src="./icons/css_icon.png" alt="icon" />
          <p>CSS</p>
        </div>
        <div class="skill">
          <img src="./icons/firebase_icon.png" alt="icon" />
          <p>Firebase</p>
        </div>
        <div class="skill">
          <img src="./icons/angular_icon.png" alt="icon" />
          <p>Angular</p>
        </div>
        <div class="skill">
          <img src="./icons/ts_icon.png" alt="icon" />
          <p>Typescript</p>
        </div>
      </div>
    </div>
    <div data-aos="fade-left" class="project-right-content">
      <div class="project-img">
        <img src="./images/da_bubble_thumbnail.png" alt="join" />
      </div>
      <div class="sticker">
        <img src="./icons/featured_project_sticker.png" alt="sticker" />
      </div>
      <div class="buttons">
        <a
          class="button"
          href="https://github.com/DavidLehnartz"
          target="_blank"
          rel="noopener noreferrer"
          >GitHub</a
        >
        <a [routerLink]="'/comingSoon'" class="button" rel="noopener noreferrer"
          >Live Test</a
        >
      </div>
      <div class="project-navigation">
        <div class="go-back-project-responsive">
          <div class="next-project-img">
            <img src="./icons/back_arrow_orange.png" alt="arrow" />
          </div>
          <div [routerLink]="['/']" fragment="my_craft" class="go-back-text">
            {{ "projectDABubble.goBack" | translate }}
          </div>
        </div>
        <div class="next-project">
          <div [routerLink]="'/join'" class="next-project-text">
            {{ "projectDABubble.nextProject" | translate }}
          </div>
          <div class="next-project-img">
            <img src="./icons/next_arrow_yellow.png" alt="arrow" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
