@use "./../../mixins.scss" as *;

section {
  @include dFlex();
  max-height: 720px;
  height: 100vh;
  padding: 144px 120px;
}

h2 {
  font-size: 64px;
  font-weight: 700;
  color: #0e1013;
}

p {
  font-size: 20px;
  font-weight: 500;
  color: #0e1013;
}

.about-me-wrapper {
  display: flex;
  gap: 32px;
  max-width: 1920px;
}

.about-me-content-left {
  @include dFlex();
  flex-direction: column;
}

.location-info-top {
  position: relative;
  margin-bottom: -90px;
  z-index: 999;

  > img {
    width: 560px;
    transform: rotate(4deg);
  }

  > div {
    display: flex;
    position: absolute;
    top: 60px;
    align-items: center;
    justify-content: center;
    width: 100%;
    transform: rotate(-2deg);
    color: #f8f9fa;
    font-weight: 400;
    font-size: 24px;
    gap: 16px;

    > img {
      width: 40px;
      height: 40px;
    }
  }
}

.location-info-center {
  position: relative;
  margin-bottom: -65px;
  z-index: 1;

  > img {
    width: 560px;
    transform: rotate(-2deg);
  }

  > div {
    display: flex;
    position: absolute;
    top: 65px;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #f8f9fa;
    font-weight: 400;
    font-size: 24px;
    gap: 16px;
    transform: rotate(4deg);

    > img {
      width: 40px;
    }
  }
}

.location-info-bottom {
  position: relative;

  > img {
    width: 560px;
    transform: rotate(-2deg);
    height: 152px;
  }

  > div {
    display: flex;
    position: absolute;
    top: 50px;
    align-items: center;
    justify-content: center;
    width: 100%;
    transform: rotate(-1deg);
    color: #f8f9fa;
    font-weight: 400;
    font-size: 24px;
    gap: 16px;

    > img {
      width: 40px;
      height: 40px;
    }
  }
}

.about-me-content-right {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 0px 32px;

  > div:nth-child(2) {
    > p {
      font-size: 20px;
      font-weight: 400;
    }
  }
}

.reveal-loop {
  height: auto;
  animation: revealCycle 3s ease-in-out infinite;
  object-fit: cover;
}

.about-me-content-btn {
  display: flex;
  flex-direction: row-reverse;
}

button {
  @include btnStyle($bColor: black, $color: black);
  transition: all 0.3s ease-in-out;
  opacity: 1;
  border: none;
  box-shadow: 2px 4px black;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;

  &:hover {
    bottom: 30px;
    right: 30px;
    background-color: #1976ea;
    box-shadow: 0px 0px #f8f9fa;
    opacity: 1;
    color: #f8f9fa;
    transform: scale(1.05);
  }
}

/* MEDIA QUERY */

@media (max-width: 1160px) {
  section {
    height: auto;
  }

  .about-me-wrapper {
    flex-direction: column-reverse;
  }
}

@media (max-width: 850px) {
  section {
    padding: 144px 32px;
  }

  .about-me-content-right {
    > h2 {
      padding: 0px 16px;
    }
  }
}

@media (max-width: 570px) {
  .about-me-wrapper {
    height: auto;
  }

  .location-info-top {
    > div {
      top: 45px;
    }

    > img {
      width: 400px;
      height: 152px;
    }
  }

  .location-info-center {
    margin-bottom: -55px;

    > div {
      top: 58px;
    }

    > img {
      width: 400px;
      height: 152px;
    }
  }

  .location-info-bottom {
    transform: rotate(-2deg);

    > div {
      top: 38px;
    }

    > img {
      width: 400px;
      height: 120px;
    }
  }
}

@media (max-width: 400px) {
  h2 {
    font-size: 48px;
  }

  p {
    font-size: 18px;
  }

  .about-me-content-right {
    padding: 0px 0px;

    > div:nth-child(1) {
      > h2 {
        padding: 0px 16px;
      }

      > p {
        padding: 0px 16px;
      }

      > img {
        padding: 0px 16px;
        width: 230px;
      }
    }

    > div:nth-child(2) {
      padding: 0px 16px;
    }

    > div:nth-child(3) {
      padding: 0px 16px;
    }
  }

  .location-info-top {
    margin-bottom: -60px;

    > div {
      top: 45px;
      transform: rotate(-4deg);
      font-size: 20px;
      gap: 8px;

      > img {
        width: 32px;
        height: 32px;
      }
    }

    > img {
      width: 310px;
    }
  }

  .location-info-center {
    margin-bottom: -45px;

    > div {
      top: 30px;
      font-size: 20px;
      gap: 8px;

      > img {
        width: 32px;
        height: 32px;
      }
    }

    > img {
      width: 310px;
      height: 100px;
    }
  }

  .location-info-bottom {
    > div {
      top: 40px;
      font-size: 20px;
      transform: rotate(0deg);
      gap: 8px;

      > img {
        width: 32px;
        height: 32px;
      }
    }

    > img {
      width: 310px;
    }
  }
}
