<section>
  <div class="about-me-wrapper">
    <div class="about-me-content-left">
      <div class="location-info-top">
        <img src="./icons/paper_yellow.png" alt="" />
      </div>
      <div class="location-info-center">
        <img src="./icons/paper_blue.png" alt="" />
      </div>
      <div class="location-info-bottom">
        <img src="./icons/paper_orange.png" alt="" />
      </div>
    </div>
    <div class="about-me-content-right">
      <div>
        <p>WHO´S DAVID?</p>
        <h2>About me</h2>
      </div>
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, sit
          necessitatibus aut quos optio voluptatem iure fuga quam atque deserunt
          quisquam in! Iure blanditiis laboriosam aut, assumenda debitis
          accusantium deleniti?
        </p>
      </div>
      <div>
        <button>Let´s talk</button>
      </div>
    </div>
  </div>
</section>
