<section class="fontBricolage">
  <div class="about-me-wrapper">
    <div class="about-me-content-left">
      <div class="location-info-top">
        <img src="./icons/paper_yellow.png" alt="paper" />
        <div>
          <img src="./icons/state_location.png" alt="icon" />
          Based in Remscheid
        </div>
      </div>
      <div class="location-info-center">
        <img src="./icons/paper_blue.png" alt="paper" />
        <div>
          <img src="./icons/state_relocation.png" alt="icon" />
          Open to relocate
        </div>
      </div>
      <div class="location-info-bottom">
        <img src="./icons/paper_orange.png" alt="paper" />
        <div>
          <img src="./icons/remote.png" alt="icon" />
          Open to work remote
        </div>
      </div>
    </div>
    <div class="about-me-content-right">
      <div>
        <p>WHO´S DAVID?</p>
        <h2>About me</h2>
        <img src="./icons/blue_stripe.png" alt="stripe" />
      </div>
      <div>
        <p>
          Hey there, I'm David. Write some information about yourself that is IT
          related. Why are you passionate about coding? What is your source of
          inspiration for improving your programming skills? Do you learn from
          each challenge as you search for the most efficient or elegant
          solution? <br /><br />
          Let’s collaborate and build something remarkable together!
        </p>
      </div>
      <div class="about-me-content-btn">
        <button>Let´s talk</button>
      </div>
    </div>
  </div>
</section>
