<section id="about_me" class="fontBricolage">
  <div  class="about-me-wrapper">
    <div data-aos="fade-right" class="about-me-content-left">
      <div class="location-info-top">
        <img src="./icons/paper_yellow.png" alt="paper" />
        <div>
          <img src="./icons/state_location.png" alt="icon" />
          {{ "whoIs.based" | translate }}
        </div>
      </div>
      <div class="location-info-center">
        <img src="./icons/paper_orange.png" alt="paper" />
        <div>
          <img src="./icons/state_relocation.png" alt="icon" />
          {{ "whoIs.relocate" | translate }}
        </div>
      </div>
      <div class="location-info-bottom">
        <img src="./icons/paper_blue1.png" alt="paper" />
        <div>
          <img src="./icons/remote.png" alt="icon" />
          {{ "whoIs.remote" | translate }}
        </div>
      </div>
    </div>
    <div data-aos="fade-left" class="about-me-content-right">
      <div>
        <p>{{ "whoIs.title" | translate }}</p>
        <h2>{{ "whoIs.about" | translate }}</h2>
        <img src="./icons/blue_stripe.png" alt="stripe" />
      </div>
      <div>
        <p>
          {{ "whoIs.description" | translate }}
        </p>
      </div>
      <div class="about-me-content-btn">
        <button [routerLink]="['/']" fragment="contact">
          {{ "whoIs.talk" | translate }}
        </button>
      </div>
    </div>
  </div>
</section>
