section {
  width: 100%;
  height: auto;
  background-image: url("./../../../public/images/atf_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.privacy-policy-wrapper {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  padding: 144px 120px;
  max-width: 1440px;
  margin: 0 auto;
}

.privacy-policy-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  color: #ea9019;
  font-size: 56px;
  margin-bottom: 32px;
}

h2 {
  color: #1976ea;
  margin-bottom: 32px;
}

h3 {
  color: #1976ea;
  margin-bottom: 32px;
}

p {
  color: white;
  margin-bottom: 32px;
}

ul {
  color: white;
}

a {
  color: #f7c518;
}

@media (max-width: 960px) {
  .privacy-policy-wrapper {
    padding: 144px 16px;
  }
}
