<section class="fontBricolage">
  <div>
    <app-header></app-header>
  </div>
  <div class="legal-notice-wrapper">
    <div class="legal-notice-content" data-aos="fade-right">
      <h1>{{ "legalNotice.title" | translate }}</h1>
      <p>{{ "legalNotice.text1" | translate }}</p>
      <p>
        David Lehnartz<br />
        <br />
        Philipp-Melanchthon-str.1<br />
        42855 Remscheid <br />
      </p>
      <p>
        <strong>{{ "legalNotice.text2" | translate }} </strong><br />
        David Lehnartz<br />
      </p>
      <p>
        <strong>{{ "legalNotice.text3" | translate }}</strong> <br />
        {{ "legalNotice.text6" | translate }} 012345678910<br />
        E-Mail:
        <a href="mailto:malermeister-lehnartz@gmx.de"
          >malermeister-lehnartz&#64;gmx.de</a
        >
      </p>
      <br />
      <p>{{ "legalNotice.text4" | translate }}</p>
      <a href="https://impressum-generator.de" rel="dofollow"
        >Impressum-Generator.de</a
      >.
      <p>{{ "legalNotice.text5" | translate }}</p>
      <a href="https://www.kanzlei-hasselbach.de/" rel="nofollow"
        >Franziska Hasselbach, Bonn</a
      >.
    </div>
  </div>
</section>
