<section class="fontBricolage">
  <div class="top-shadow"></div>
  <app-projects-header></app-projects-header>
  <div data-aos="fade-right" class="go-back">
    <div>
      <img src="/images/back_arrow_orange.png" alt="arrow" />
    </div>
    <div [routerLink]="['/']" fragment="my_craft" class="go-back-text">
      {{ "projectWilly.goBack" | translate }}
    </div>
  </div>
  <div class="project-wrapper">
    <div data-aos="fade-right" class="project-left-content">
      <div class="name">
        <h1>Willy the wizard</h1>
        <img class="reveal-loop" src="/images/blue_stripe.png" alt="stripe" />
      </div>
      <div class="description">
        <h2>{{ "projectWilly.description" | translate }}</h2>
        <p>
          {{ "projectWilly.descriptionText" | translate }}
        </p>
      </div>
      <div class="details">
        <h2>{{ "projectWilly.details" | translate }}</h2>
        <p>
          {{ "projectWilly.detailsText" | translate }}
        </p>
      </div>
      <div class="duration">
        <h2>{{ "projectWilly.duration" | translate }}</h2>
        <p>{{ "projectWilly.durationText" | translate }}</p>
      </div>
      <div class="skills-list">
        <div class="skill">
          <img src="/images/html_icon.png" alt="icon" />
          <p>HTML</p>
        </div>
        <div class="skill">
          <img src="/images/css_icon.png" alt="icon" />
          <p>CSS</p>
        </div>

        <div class="skill">
          <img src="/images/js_icon.png" alt="icon" />
          <p>JavaScript</p>
        </div>
      </div>
    </div>
    <div data-aos="fade-left" class="project-right-content">
      <div class="project-img">
        <img src="./images/thumbnail_willy_the_wizard.png" alt="2d game" />
      </div>
      <div class="buttons">
        <a
          class="button"
          href="https://github.com/DavidLehnartz"
          target="_blank"
          rel="noopener noreferrer"
          >GitHub</a
        >
        <a
          class="button"
          href="http://willythewizard.devwithdavid.com/index.html"
          target="_blank"
          rel="noopener noreferrer"
          >Live Test</a
        >
      </div>
      <div class="project-navigation">
        <div class="go-back-project-responsive">
          <div class="next-project-img">
            <img src="/images/back_arrow_orange.png" alt="arrow" />
          </div>
          <div [routerLink]="['/']" fragment="my_craft" class="go-back-text">
            {{ "projectWilly.goBack" | translate }}
          </div>
        </div>
        <div class="next-project">
          <div [routerLink]="'/daBubble'" class="next-project-text">
            {{ "projectWilly.nextProject" | translate }}
          </div>
          <div class="next-project-img">
            <img src="/images/next_arrow_yellow.png" alt="arrow" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
