<section class="fontBricolage">
  <div class="top-shadow"></div>
  <app-projects-header></app-projects-header>
  <div data-aos="fade-right" class="go-back">
    <div>
      <img src="./icons/back_arrow_orange.png" alt="arrow" />
    </div>
    <div [routerLink]="['/']" fragment="my_craft" class="go-back-text">
      {{ "projectJoin.goBack" | translate }}
    </div>
  </div>
  <div class="project-wrapper">
    <div data-aos="fade-right" class="project-left-content">
      <div class="name">
        <h1>Join</h1>
        <img src="./icons/blue_stripe.png" alt="stripe" />
      </div>
      <div class="description">
        <h2>{{ "projectJoin.description" | translate }}</h2>
        <p>
          {{ "projectJoin.descriptionText" | translate }}
        </p>
      </div>
      <div class="details">
        <h2>{{ "projectJoin.details" | translate }}</h2>
        <p>
          {{ "projectJoin.detailsText" | translate }}
        </p>
      </div>
      <div class="duration">
        <h2>{{ "projectJoin.duration" | translate }}</h2>
        <p>{{ "projectJoin.durationText" | translate }}</p>
      </div>
      <div class="skills-list">
        <div class="skill">
          <img src="./icons/html_icon.png" alt="icon" />
          <p>HTML</p>
        </div>
        <div class="skill">
          <img src="./icons/css_icon.png" alt="icon" />
          <p>CSS</p>
        </div>
        <div class="skill">
          <img src="./icons/js_icon.png" alt="icon" />
          <p>JavaScript</p>
        </div>
        <div class="skill">
          <img src="./icons/firebase_icon.png" alt="icon" />
          <p>Firebase</p>
        </div>
      </div>
    </div>
    <div data-aos="fade-left" class="project-right-content">
      <div class="project-img">
        <img src="./images/join_thumbnail.png" alt="join" />
      </div>
      <div class="sticker">
        <img src="./icons/featured_project_sticker.png" alt="sticker" />
      </div>
      <div class="buttons">
        <!-- <div class="button">GitHub</div> -->
        <a
          class="button"
          href="https://github.com/DavidLehnartz"
          target="_blank"
          rel="noopener noreferrer"
          >GitHub</a
        >
        <!-- <div class="button">Live Test</div> -->
        <a
          class="button"
          href="https://david-lehnartz.developerakademie.net/join/index.html"
          target="_blank"
          rel="noopener noreferrer"
          >Live Test</a
        >
      </div>
      <div class="project-navigation">
        <div class="go-back-project-responsive">
          <div class="next-project-img">
            <img src="./icons/back_arrow_orange.png" alt="arrow" />
          </div>
          <div [routerLink]="['/']" fragment="my_craft" class="go-back-text">
            {{ "projectJoin.goBack" | translate }}
          </div>
        </div>
        <div class="next-project">
          <div [routerLink]="'/willyTheWizard'" class="next-project-text">
            {{ "projectJoin.nextProject" | translate }}
          </div>
          <div class="next-project-img">
            <img src="./icons/next_arrow_yellow.png" alt="arrow" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
