@use "./../../mixins.scss" as *;

section {
  width: 100%;
  height: 100vh;
  background-image: url("./../../../../public/images/project_bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

.top-shadow {
  height: 1px;
  background-color: black;
  box-shadow: 0px 20px 70px 35px black;
}

.project-wrapper {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  max-width: 1920px;
  margin: 0px auto;
  padding: 0px 120px;
}

.project-left-content {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 45%;
}

.go-back {
  display: flex;
  max-width: 1920px;
  margin: 0px auto;
  padding-top: 120px;
  padding-bottom: 48px;
  padding-left: 72px;
  padding-right: 72px;
  gap: 10px;
}

.go-back-img {
  width: 24px;
  height: 24px;

  &:hover {
    cursor: pointer;
  }
}

.go-back-text {
  &:hover {
    cursor: pointer;
    color: #3355ff;
  }
}

.name {
  display: flex;
  flex-direction: column;

  > h1 {
    font-size: 64px;
    font-weight: 700;
  }

  > img {
    width: 121px;
    height: 20px;
  }
}

.description {
  display: flex;
  flex-direction: column;
  gap: 16px;

  > h2 {
    font-size: 24px;
    font-weight: 700;
  }

  > p {
    font-size: 18px;
    font-weight: 400;
  }
}

.details {
  display: flex;
  flex-direction: column;
  gap: 16px;

  > h2 {
    font-size: 24px;
    font-weight: 700;
  }

  > p {
    font-size: 18px;
    font-weight: 400;
  }
}

.duration {
  display: flex;
  align-items: center;
  gap: 16px;

  > h2 {
    font-size: 24px;
    font-weight: 700;
  }

  > p {
    font-size: 18px;
    font-weight: 400;
  }
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.skill {
  display: flex;
  align-items: center;
  gap: 4px;

  > img {
    width: 24px;
    height: 24px;
  }

  > p {
    font-size: 18px;
    font-weight: 400;
  }
}

.project-right-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  width: 45%;

  > img {
    width: 560px;
    height: 400px;
    object-fit: contain;
  }
}

.project-img {
  display: flex;
  justify-content: end;

  > img {
    width: 100%;
  }
}

.sticker {
  position: absolute;
  top: 140px;
  right: -60px;

  > img {
    width: 120px;
    height: 120px;
  }
}

.buttons {
  @include dFlex($jContent: end, $gap: 32px);
}

.button {
  @include btnStyle();
  border: none;
  box-shadow: 2px 4px #f8f9fa;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;

  &:hover {
    background-color: #3355ff;
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 0px #f8f9fa;
    transform: scale(1.05);
  }
}

.project-navigation {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 16px;
}

.go-back-project-responsive {
  display: flex;
  align-items: center;
  color: #f8f9fa;
  gap: 8px;
}

.next-project {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
}

.next-project-text {
  color: white;
  font-size: 18px;
  font-weight: 700;

  &:hover {
    cursor: pointer;
    color: #3355ff;
  }
}

.next-project-img {
  display: flex;

  > img {
    width: 24px;
    height: 24px;
  }
}

/* MEDIA QUERY */

@media (max-width: 1400px) {
  section {
    background-image: url("./../../../../public/images/project_bg_rotated1.png");
    background-position: center;
    height: auto;
  }

  .header-wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }

  .project-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding-top: 100px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .project-left-content {
    width: 100%;
    gap: 16px;
  }

  .project-right-content {
    width: 100%;
    gap: 16px;
  }

  .project-img {
    justify-content: center;
  }

  .name {
    > h1 {
      font-size: 48px;
    }
  }

  .description {
    > h2 {
      font-size: 20px;
    }
  }

  .details {
    > h2 {
      font-size: 20px;
    }
  }

  .duration {
    > h2 {
      font-size: 20px;
    }
  }

  .sticker {
    display: none;
  }

  .go-back {
    display: none;
  }

  .buttons {
    margin: 32px 0px;
  }

  .project-navigation {
    justify-content: space-between;
    /* margin-bottom: 16px; */
  }
}

@media (max-width: 600px) {
  .project-img {
    > img {
      width: 100%;
    }
  }

  .buttons {
    justify-content: center;
  }
}

@media (min-width: 1440px) {
  .go-back-project-responsive {
    display: none;
  }
}

@media (min-width: 600px) {
  .top-shadow {
    display: none;
  }
}
