<section class="fontBricolage">
  <div class="testimonials-wrapper">
    <div class="testimonials-header-top">
      <img src="./icons/blue_arrow.png" alt="arrow" />
      <p>{{ "testimonial.text" | translate }}</p>
    </div>
    <div class="testimonials-header-bottom">
      <h2>{{ "testimonial.title" | translate }}</h2>
    </div>
    <div class="testimonials-content">
      <div class="testimonial-left">
        <!-- <img src="./images/testimonial_sticker_left_right.png" alt="sticker" /> -->
        <img src="./images/testimonial_sticker_ornament1.png" alt="" />
        <div class="testimonial-left-inner-content">
          <div class="inner-content-top">
            <p>
              {{ "testimonial.description1" | translate }}
            </p>
          </div>
          <div class="inner-content-bottom">
            <h3>Kai S.</h3>
            <p>{{ "testimonial.profession" | translate }}</p>
          </div>
        </div>
      </div>
      <div class="testimonial-center">
        <!-- <img src="./images/testimonial_sticker_center.png" alt="sticker" /> -->
        <img src="./images/testimonial_sticker_ornament1.png" alt="" />
        <div class="testimonial-center-inner-content">
          <div class="inner-content-top">
            <p>
              {{ "testimonial.description2" | translate }}
            </p>
          </div>
          <div class="inner-content-bottom">
            <h3>Marco L.</h3>
            <p>{{ "testimonial.profession" | translate }}</p>
          </div>
        </div>
      </div>
      <div class="testimonial-right">
        <!-- <img src="./images/testimonial_sticker_left_right.png" alt="sticker" /> -->
        <img src="./images/testimonial_sticker_ornament1.png" alt="" />
        <div class="testimonial-right-inner-content">
          <div class="inner-content-top">
            <p>
              {{ "testimonial.description3" | translate }}
            </p>
          </div>
          <div class="inner-content-bottom">
            <h3>Tina J.</h3>
            <p>{{ "testimonial.profession" | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
