<section class="fontBricolage">
  <div class="testimonials-wrapper">
    <div class="testimonials-header-top">
      <img src="./icons/blue_arrow.png" alt="arrow" />
      <p>In their words:</p>
    </div>
    <div class="testimonials-header-bottom">
      <h2>Colleagues` Thoughts</h2>
    </div>
    <div class="testimonials-content">
      <div class="testimonial-left">
        <!-- <img src="./images/testimonial_sticker_left_right.png" alt="sticker" /> -->
        <img src="./images/testimonial_sticker_ornament.png" alt="" />
        <div class="testimonial-left-inner-content">
          <div class="inner-content-top">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error
              magni maiores, similique quo labore et inventore libero itaque
              repellendus blanditiis est, earum placeat! Reprehenderit earum
              blanditiis possimus itaque, saepe dolore.
            </p>
          </div>
          <div class="inner-content-bottom">
            <h3>Peter Petersen</h3>
            <p>Frontend Developer</p>
          </div>
        </div>
      </div>
      <div class="testimonial-center">
        <!-- <img src="./images/testimonial_sticker_center.png" alt="sticker" /> -->
        <img src="./images/testimonial_sticker_ornament.png" alt="" />
        <div class="testimonial-center-inner-content">
          <div class="inner-content-top">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error
              magni maiores, similique quo labore et inventore libero itaque
              repellendus blanditiis est, earum placeat! Reprehenderit earum
              blanditiis possimus itaque, saepe dolore.
            </p>
          </div>
          <div class="inner-content-bottom">
            <h3>Pferdinand Ferd</h3>
            <p>Frontend Developer</p>
          </div>
        </div>
      </div>
      <div class="testimonial-right">
        <!-- <img src="./images/testimonial_sticker_left_right.png" alt="sticker" /> -->
        <img src="./images/testimonial_sticker_ornament.png" alt="" />
        <div class="testimonial-right-inner-content">
          <div class="inner-content-top">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error
              magni maiores, similique quo labore et inventore libero itaque
              repellendus blanditiis est, earum placeat! Reprehenderit earum
              blanditiis possimus itaque, saepe dolore.
            </p>
          </div>
          <div class="inner-content-bottom">
            <h3>Holger Holladiewaldfee</h3>
            <p>Frontend Developer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
