section {
  width: 100%;
  height: 100vh;
}

.testimonials-wrapper {
  display: flex;
  flex-direction: column;
  padding: 144px 120px;
  max-width: 1440px;
  margin: 0px auto;
}

.testimonials-header-top {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 16px;

  > p {
    font-size: 20px;
    font-weight: 500;
  }

  > img {
    width: 100px;
    height: 36px;
  }
}

.reveal-loop {
  height: auto;
  animation: revealCycle 3s ease-in-out infinite;
  object-fit: cover;
}

.testimonials-header-bottom {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 48px;

  > h2 {
    font-size: 64px;
    font-weight: 700;
  }
}

.testimonials-content {
  display: flex;
  justify-content: space-between;
}

.testimonial-left {
  max-width: 512px;
  width: 100%;
  height: 368px;
  background-image: url("./../../../../public/images/testimonial_sticker_left_right1.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 3;
  transform: rotate(-4deg);
  margin-right: -150px;
  border-radius: 32px;

  &:hover .inner-content-bottom {
    h3 {
      color: aliceblue;
    }

    p {
      color: aliceblue;
    }
  }

  &:hover .inner-content-top {
    h3 {
      color: aliceblue;
    }

    p {
      color: aliceblue;
    }
  }

  > img {
    width: 512px;
    height: 368px;
    opacity: 0;
  }

  &:hover > img {
    opacity: 1;
  }
}

.testimonial-left-inner-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0px;
  padding: 32px 16px;
  height: 300px;
}

.testimonial-center {
  max-width: 512px;
  width: 100%;
  height: 368px;
  background-image: url("./../../../../public/images/testimonial_sticker_center1.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;
  margin-right: -125px;
  border-radius: 32px;
  margin-top: 45px;

  &:hover {
    z-index: 6;
  }

  &:hover .inner-content-bottom {
    h3 {
      color: aliceblue;
    }

    p {
      color: aliceblue;
    }
  }

  &:hover .inner-content-top {
    h3 {
      color: aliceblue;
    }

    p {
      color: aliceblue;
    }
  }

  > img {
    width: 512px;
    height: 368px;
    opacity: 0;
  }

  &:hover > img {
    opacity: 1;
  }
}

.testimonial-center-inner-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 136px;
  position: absolute;
  top: 0px;
  padding: 32px 16px;
  height: 300px;
}

.testimonial-right {
  max-width: 512px;
  width: 100%;
  height: 368px;
  background-image: url("./../../../../public/images/testimonial_sticker_left_right1.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  transform: rotate(4deg);
  border-radius: 32px;

  &:hover {
    z-index: 6;
  }

  &:hover .inner-content-bottom {
    h3 {
      color: aliceblue;
    }

    p {
      color: aliceblue;
    }
  }

  &:hover .inner-content-top {
    h3 {
      color: aliceblue;
    }

    p {
      color: aliceblue;
    }
  }

  > img {
    width: 512px;
    height: 368px;
    opacity: 0;
  }

  &:hover > img {
    opacity: 1;
  }
}

.testimonial-right-inner-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 136px;
  position: absolute;
  top: 0px;
  padding: 32px 16px;
  height: 300px;
}

.inner-content-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
}

.inner-content-bottom {
  > h3 {
    font-size: 20px;
    font-weight: 700;
  }

  > p {
    font-size: 18px;
    font-weight: 400;
  }
}

/* MEDIA QUERY */

@media (max-width: 1520px) {
  .testimonials-wrapper {
    padding: 144px 60px;
  }
}

@media (max-width: 1440px) {
  section {
    height: auto;
  }

  .testimonials-content {
    flex-direction: column;
    align-items: center;
  }

  .testimonial-left {
    margin-right: 0px;
    margin-bottom: -10px;

    > img {
      width: 100%;
    }
  }

  .testimonial-center {
    margin: 0px;
    > img {
      width: 100%;
    }
  }

  .testimonial-right {
    margin-left: 0px;
    margin-top: -5px;

    > img {
      width: 100%;
    }
  }
}

@media (max-width: 800px) {
  .testimonials-wrapper {
    padding: 144px 32px;
  }

  .testimonials-header-bottom {
    text-align: end;
  }

  h2 {
    margin-bottom: 32px;
  }
}

@media (max-width: 460px) {
  .testimonials-wrapper {
    padding: 144px 16px;
  }

  .testimonials-header-top {
    font-size: 18px;
  }

  .testimonials-header-bottom {
    margin: 0px;
    > h2 {
      font-size: 48px;
    }
  }
}

@media (max-width: 420px) {
  .testimonial-left-inner-content {
    gap: 100px;
  }

  .testimonial-center-inner-content {
    gap: 100px;
  }

  .testimonial-right-inner-content {
    gap: 100px;
  }
}

@media (max-width: 390px) {
  .testimonial-left-inner-content {
    gap: 50px;
  }

  .testimonial-center-inner-content {
    gap: 50px;
  }

  .testimonial-right-inner-content {
    gap: 50px;
  }
}
