<section class="fontBricolage">
  <div class="skill-set-top-wrapper">
    <div class="skill-set-logo-content">
      <div>MY STACK</div>
      <div>
        <h1>Skill set</h1>
        <img src="./icons/orange_circle.png" alt="circle" />
      </div>
    </div>
    <div class="skill-set-text-content">
      <img src="./images/skills_paper.png" alt="paper" />
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor
        blanditiis eos sequi veritatis. Delectus vero dignissimos fuga voluptate
        doloremque! Cumque voluptates laboriosam doloremque eligendi iure
        similique, quae porro. Nulla, assumenda?
      </p>
    </div>
  </div>
  <div class="skill-set-bottom-wrapper">
    <div class="skill-set-icons-content">
      <div>
        <img src="./images/pull_to_peel_sticker.png" alt="">
      </div>
      <div>
        <img src="./icons/html_icon.png" alt="icon">
        <img src="./icons/css_icon.png" alt="icon">
        <img src="./icons/js_icon.png" alt="icon">
        <img src="./icons/ts_icon.png" alt="icon">
        <img src="./icons/angular_icon.png" alt="icon">
        <img src="./icons/firebase_icon.png" alt="icon">
        <img src="./icons/git_icon.png" alt="icon">
        <img src="./icons/rest_api_icon.png" alt="icon">
        <img src="./icons/scrum_icon.png" alt="icon">
        <img src="./icons/material_design_icon.png" alt="icon">
      </div>
    </div>
  </div>
</section>
