<section id="skill_set" class="fontBricolage">
  <div data-aos="fade-right" class="skill-set-top-wrapper">
    <div class="skill-set-logo-content">
      <div>{{ "stack.text" | translate }}</div>
      <div>
        <h1>{{ "stack.title" | translate }}</h1>
        <img src="./icons/blue_circle.png" alt="circle" />
      </div>
    </div>
    <div class="skill-set-text-content">
      <img src="./images/skills_paper.png" alt="paper" />
      <p>
        {{ "stack.description" | translate }}
      </p>
    </div>
  </div>
  <div class="skill-set-bottom-wrapper">
    <div data-aos="fade-left" class="skill-set-icons-content">
      <div (click)="changeImage()" class="skill-set-sticker">
        <img [src]="currentImage" alt="sticker" />

        <div class="fontKalam">
          @if (isImageAActive) {
          <img src="./icons/pull_to_peel_arrow.png" alt="arrow" />
          {{ "stack.stickerTop" | translate }}
          {{ "stack.stickerBottom" | translate }} } @else{
          <div class="peeled-sticker-content">
            {{ "stack.stickerPeeled" | translate }}
            <div class="peeled-sticker-imgs">
              <img src="./icons/python_icon.png" alt="icon" />
              <img src="./icons/linux_icon.png" alt="icon" />
            </div>
          </div>
          }
        </div>
      </div>
      <div>
        <div class="skill-set-icons">
          <img src="./icons/html_icon.png" alt="icon" />
          <span>HTML</span>
        </div>
        <div class="skill-set-icons">
          <img src="./icons/css_icon.png" alt="icon" />
          <span>CSS</span>
        </div>
        <div class="skill-set-icons">
          <img src="./icons/js_icon.png" alt="icon" />
          <span>JavaScript</span>
        </div>
        <div class="skill-set-icons">
          <img src="./icons/ts_icon.png" alt="icon" />
          <span>TypeScript</span>
        </div>
        <div class="skill-set-icons">
          <img src="./icons/angular_icon.png" alt="icon" />
          <span>Angular</span>
        </div>
        <div class="skill-set-icons">
          <img src="./icons/firebase_icon.png" alt="icon" />
          <span>Firebase</span>
        </div>
        <div class="skill-set-icons">
          <img src="./icons/git_icon.png" alt="icon" />
          <span>Git</span>
        </div>
        <div class="skill-set-icons">
          <img src="./icons/rest_api_icon.png" alt="icon" />
          <span>Rest-Api</span>
        </div>
        <div class="skill-set-icons">
          <img src="./icons/scrum_icon.png" alt="icon" />
          <span>Scrum</span>
        </div>
        <div class="skill-set-icons">
          <img src="./icons/material_design_icon.png" alt="icon" />
          <span
            >Material <br />
            Design</span
          >
        </div>
        <div class="skill-set-sticker-responsive hidden">
          <img src="./images/pull_to_peel_sticker.png" alt="sricker" />
          <div class="fontKalam">
            <img src="./icons/pull_to_peel_arrow.png" alt="arrow" />
            Pull to <br />
            peel
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
