section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: black;
}

.content-wrapper {
  max-width: 1440px;
  margin: 0 auto;

  > p {
    color: aliceblue;
    font-size: 56px;
    font-weight: 700;
    text-align: center;
  }
}
